* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: monospace;
    text-align: center;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    margin: 1rem 1.5rem;
    border: 1px solid black;
}

.container {
    max-width: 1248px;
    padding: 16px 24px;

}

/* Header */

header {
    width: 100%;
    border-bottom: 1px solid #0D0807;
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav li:hover {
    text-decoration: underline;
}

header .logo img {
    width: 2.5rem;
}

header a {
    color: #0D0807;
}

/* Color */

.colors h1 {
    padding-bottom: 0.5rem;
}

.colors h3 {
    padding: 1rem;
    font-weight: lighter;
}

.colors p {
    color: white;
}

.color {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
}

@media only screen and (max-width: 700px){
    .color{
        grid-template-columns: none;
    }
}

.cell {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

.cell .after {
    display: none;
}

a:hover .after {
    display: block;
    padding: .5rem;
}

.color1 {
    background-color: #A0C3D9;
}

.color2 {
    background-color: #A6A26F;
}

.color3 {
    background-color: #BFAB99;
}

.color4 {
    background-color: #F2E7DC;
}

.color5 {
    background-color: #F2A0A0;
}

.color6 {
    background-color: #831916;
}

.color7 {
    background-color: #C48328;
}

.color8 {
    background-color: #737153;
}

.color9 {
    background-color: #3D3939;
}

.color10 {
    background-color: #0D0807;
}


/* Fonts */
.number{
    border: 1px dashed black;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
}

.font1 {
    font-family: 'Cormorant Garamond', serif;
}

.font2 {
    font-family: 'Gotu', sans-serif;
}

.font3 {
    font-family: 'Epilogue', sans-serif;
}

.font4 {
    font-family: 'Shippori Antique', sans-serif;
}

.font5 {
    font-family: 'Dela Gothic One', cursive;
}