* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: monospace;
    text-align: center;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    margin: 1rem 1.5rem;
    border: 1px solid black;
}

.container {
    max-width: 1248px;
    padding: 16px 24px;
}

/* Header */

header {
    width: 100%;
    border-bottom: 1px solid #0D0807;
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav li:hover {
    text-decoration: underline;
}

header .logo img {
    width: 2.5rem;
}

header a {
    color: #0D0807;
}

/* Color */

.colors h1 {
    padding-bottom: 0.5rem;
}

.colors h3 {
    padding: 1rem;
    font-weight: lighter;
}

.colors p {
    color: white;
}

.color {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
}

@media only screen and (max-width: 700px){
    .color{
        grid-template-columns: none;
    }
}

.cell {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

.cell .after {
    display: none;
}

a:hover .after {
    display: block;
    padding: .5rem;
}

.color1 {
    background-color: #A0C3D9;
}

.color2 {
    background-color: #A6A26F;
}

.color3 {
    background-color: #BFAB99;
}

.color4 {
    background-color: #F2E7DC;
}

.color5 {
    background-color: #F2A0A0;
}

.color6 {
    background-color: #831916;
}

.color7 {
    background-color: #C48328;
}

.color8 {
    background-color: #737153;
}

.color9 {
    background-color: #3D3939;
}

.color10 {
    background-color: #0D0807;
}


/* Fonts */
.number{
    border: 1px dashed black;
    border-radius: 5px;
    padding: 16px;
    margin: 1rem 0;
    width: 100%;
}

#b{
    font-weight: bold;
}

.number .after-font {
    display: none;
}

a:active .after-font {
    display: block;
    
}

.font1 {
    font-family: 'Cormorant Garamond', serif;
}

.font2 {
    font-family: 'Gotu', sans-serif;
}

.font3 {
    font-family: 'Epilogue', sans-serif;
}

.font4 {
    font-family: 'Shippori Antique', sans-serif;
}

.font5 {
    font-family: 'Dela Gothic One', cursive;
}

/* Text */

.number .after-text {
    display: none;
}

a:active .after-text {
    display: block;
}

/* Button */
div[class*=box] {
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
  }
.box-1 { background-color: #A0C3D9; }
.box-2 { background-color: #3D3939; }
.box-3 { background-color: #A6A26F; }

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}


/* 
========================
      BUTTON TWO
========================
*/
.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
}
.btn-two span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}


/* 
========================
      BUTTON THREE
========================
*/
.btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

/* Footer */
.img{
    display: flex;
    justify-content:space-between;
}

.img h1{
    font-weight: lighter;
    writing-mode: vertical-lr;
}

.img img{
    width: 45%;
}